<!description html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <title>income</title>
    <meta name="description" content="収入を入力するページです">
  </head>

    <body>
      <header>
        <h2>収支を登録するページ</h2>
        <nav>
          <li><a href="top">トップに戻る</a></li>
        </nav>
      </header>

        <div>
          収支：
          <input type="radio" name="finances" value="支出" checked>支出
          <input type="radio" name="finances" value="収入">支出
          <input type="submit" value="登録">
        </div>
    </body>
  </html>