<!description html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <title>income</title>
    <meta name="description" content="トップページです">
  </head>

  <header>
    <h2>トップページ</h2>
  </header>

   <body>
     <h3>収支を記録する</h3>
     <nav>
     <li><a href="finances">ikuze</a></li>
     </nav>
    </body>
  </html>